*, 
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* VARIÁVEIS DE COR */
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title: #F8FBFB;
    --text-bodytext-body: #E2E7E9;
    --text-label: #BAC6C9;

    /* VARIÁVEIS DE TEXTO */
    --ff: 'Raleway', sans-serif;

    --title-lg: 700 3rem/normal var(--ff);
    --title-md: 700 2.5rem/normal var(--ff);
    --title-sm: 700 2rem/normal var(--ff);
    --title-xs: 700 1rem/normal var(--ff);

    --subtitle: 500 2rem/2.0 var(--ff);

    --body-lg: 400 1.25rem/1.4 var(--ff);
    --body-md: 400 1rem/1.4 var(--ff);
    --body-sm:  400 .875rem/1.4 var(--ff);
    --body-xs: 400 .75rem/1.4 var(--ff);

    --button: 700 .875rem/normal var(--ff);    
    --link: 500 .875rem/normal var(--ff);
    --tag: 700 .625rem/normal var(--ff);
}
img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-title);
    font: var(--button);
}
body {
    background-color: var(--shape-background);
}
h1 {
    font: var(--title-lg);
    color: var(--text-title);
}
h2 {
    font: var(--title-md);
    color: var(--text-title);
}
h3 {
    font: var(--title-sm);
    color: var(--text-title);
}
h4 {
    font: var(--title-xs);
    color: var(--text-title);
}
p {
    font: var(--body-md);
    color: var(--text-label);
}
.btn-pink {
    background-color: var(--pink-dark);
    padding: .75rem 1.25rem;
    border-radius: .75rem;
}
.container {
    margin-inline: auto;
}
.flex {
    display: flex;
}